*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 130vh;
   
}
.carousel{
    width: 80%;
    height: 90vh;
}
.fondo{
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-image: url(../assets/img_fondo1_real/puertas_cap_1.png);
    display: flex;
} 
.fondo2{
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-image: url(../assets/img_fondo1_real/fondo_escena_1-2.png)
}

.carousel-control-prev-icon{
    background-image: url(../assets/img_fondo1_real/boton_izq.png);
    width: 60%;
    height: 19rem;
    background-size: cover;
}
.carousel-control-next-icon{
    background-image: url(../assets/img_fondo1_real/boton_der.png);
    width: 60%;
    height: 19rem;
    background-size: cover;

}
.texto_cap1{
    background-image: url(../assets/img_fondo1_real/texto_cap1-1.png);
    width: 100%;
    height: 23vh;
    background-size: cover;
    display: flex;
}
.boton-inicio{
    position: relative;
    width: 50%;
    
}

video{
    width: 100%;
    height: 90vh;
    display: none;
}

/* animacion fondo 1-2 */

.emma_camina {
    margin-left: 1rem;
    margin-top: 23rem;
    animation: emma_camina 0.1s linear;
    transition: transform 2s ease; /* Transición suave */
}

#num{
    display: none;
}
