*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 120vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel{
    width: 80%;
    height: 90vh;
}
.fondo{
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-image: url(../assets/img_fondo1_real/puertas_cap_1.png);
    display: flex;
} 
.fondo2{
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-image: url(../assets/img_fondo1/fondo_escara_2.png);
    display: flex;
} 
.carousel-control-prev-icon{
    background-image: url(../assets/img_fondo1_real/boton_izq.png);
    width: 50%;
    height: 20rem;
    background-size: cover;
}
.carousel-control-next-icon{
    background-image: url(../assets/img_fondo1_real/boton_der.png);
    width: 50%;
    height: 20rem;
    background-size: cover;

}
.texto_cap1 { 
    width: 40%;
    height: 21vh;
    position: absolute;
    z-index: 2;
    background-size: cover;
    margin-top: -45rem;
    margin-left: -64rem;
    display: flex;
    opacity: 80%;
    
  
}