@font-face{
    font-family: 'RomanAntique';
    src: url('./fonts/RomanAntique.ttf');
}



.logonav{
    width: 25rem;
}

.banner{
    background-image: url(./img/piranga\ banner.png);
    background-size: cover;
    height: 85vh;
   
}
.splash{
    background-image: url(./img/splash.png);
    height: 85vh;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 100rem;
    background-position-x: -5%;
    margin-top: 1rem;
}

.col-lg-7{
 
    
}
.titulos{
    color: rgb(250, 96, 7);
    font-family: 'RomanAntique';
    font-size: 4rem;
}
.subtitulos{
  color: rgb(114, 114, 114);
  font-family: 'RomanAntique';
  font-size: 4rem;
}
.welcome{
    
    font-family: 'RomanAntique';
    font-size: 5rem;
}
.lorem{
    color: rgb(117, 115, 115);
    font-size: 1.2rem;
}

/* width 767 para el media query */
@media screen and (max-width:767px){
    .splash{
        background-size: 70vh;
        background-position-x: -3rem;
    }
    .welcom{
        margin-left: 1rem;
        margin-bottom: 12rem;
    }
    .welcome-lorem{
        color: rgb(117, 115, 115);
        font-size: 1rem;
    }
}

.origen{
    background-image: url(./img/puertas\ museo.jpg);
    height: 70vh;
    background-position-x: -8rem;
    background-size:cover;
    background-repeat: no-repeat;
    
}
.museo{
  background-color: rgb(68, 0, 0);
}
.titulos-b{
    color: white;
    font-family: 'RomanAntique';
    font-size: 4rem;
}
/* cards museo */

.flip-card {
    background-color: transparent;
    width: 20rem;
    height: 30rem;
    perspective: 1000px;
    font-family: sans-serif;
    
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
 
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 30rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1.8rem;
    background-image: url(./img/pelicano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/pelicano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.5;

  }
  .cards{
    background-color: rgb(68, 0, 0);

  }

  /* card museo 2 */
  .flip-card-1 {
    background-color: transparent;
    width: 20rem;
    height: 30rem;
    perspective: 1000px;
    font-family: sans-serif;
    
  }
  
  .title-1 {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
 
  
  .flip-card-inner-1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    
  }
  
  .flip-card-1:hover .flip-card-inner-1 {
    transform: rotateY(180deg);
    
  }
  
  .flip-card-front-1, .flip-card-back-1 {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 30rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1.8rem;
    background-image: url(./img/boa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  
  .flip-card-back-1 {
    color: white;
    transform: rotateY(180deg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/boa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.5;
}

/*  card 3 */
.flip-card-2 {
  background-color: transparent;
  width: 20rem;
  height: 30rem;
  perspective: 1000px;
  font-family: sans-serif;
  
}

.title-2 {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}


.flip-card-inner-2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  
}

.flip-card-2:hover .flip-card-inner-2 {
  transform: rotateY(180deg);
  
}

.flip-card-front-2, .flip-card-back-2 {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: 30rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1.8rem;
  background-image: url(./img/garza\ negra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



.flip-card-back-2 {
  color: white;
  transform: rotateY(180deg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/garza\ negra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.5;
}

/* card museo 4 */

.flip-card-3 {
  background-color: transparent;
  width: 20rem;
  height: 30rem;
  perspective: 1000px;
  font-family: sans-serif;
  
}

.title-3 {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}


.flip-card-inner-3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  
}

.flip-card-3:hover .flip-card-inner-3 {
  transform: rotateY(180deg);
  
}

.flip-card-front-3, .flip-card-back-3 {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: 30rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1.8rem;
  background-image: url(./img/rata\ con\ thinner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



.flip-card-back-3 {
  color: white;
  transform: rotateY(180deg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/rata\ con\ thinner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.5;
}

/* relación con el museo */

.mural{
  background-image: url(./img/muralcns.jpg);
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* sinopsis */

.shika{
  background-image: url(./img/shikaa.png);
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat
}
.lorem-n{
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}
.lorem-3{
  color: rgb(207, 207, 207);
  font-size: 1.2rem;
}
/* trailer */
.cabeza{
  height: 50vh;
  width: 20vh;
  
}
/* personajes */


 /* carta */
 
.card {
  color: #f8f8f8;
  width: 25rem;
  height: 25rem;
  position: relative;
  outline: 6px solid #f5f5f5;
  border-radius: 8px;
  line-height: 150%;
  padding: 16px;
  
  background: #73aaa5b2;
  background-blend-mode: multiply;
  
  transition: background-color 1s ease-in-out;
  overflow: hidden;
  
}
.vic{
  color: #1b1b1b;
  width: 25rem;
  height: 25rem;
  position: relative;
  outline: 6px solid #f5f5f5;
  border-radius: 8px;
  line-height: 150%;
  padding: 16px;
  
  background: #f5f39db2;
  background-blend-mode: multiply;
  
  transition: background-color 1s ease-in-out;
  overflow: hidden;
}
.thinner{
  color: #1b1b1b;
  width: 25rem;
  height: 25rem;
  position: relative;
  outline: 6px solid #f5f5f5;
  border-radius: 8px;
  line-height: 150%;
  padding: 16px;
  
  background: #92f5cfb2;
  background-blend-mode: multiply;
  
  transition: background-color 1s ease-in-out;
  overflow: hidden;
}

.card-front {
  bottom: 16px;
  /* background-image: url(./img/emma\ pj.png); */
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.card-back {
  width: 23rem;
  height: 25rem;
  transform: translateX(120%);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}


/*Text*/
.title {
  font-size: 1.3rem;
  font-weight: bold;
  
}

/*Text divider*/
.title::after {
  content: "";
  display: block;
  width: 50%;
  border-radius: 50%;
  height: 2px;
  margin: 2px auto;
  background-color: #1b1b1b;
}


/*Hover*/
.card:hover {
  background-color: #1b1b1b25;
}

.card:hover .card-front {
  transform: translateX(-100%);
}

.card:hover .card-back {
  transform: translateX(0);
}
.victor{
  width: 45vh;
  background-size: contain;
  background-repeat: no-repeat;
}
.darwin{
  width: 40vh;
  background-size: contain;
  background-repeat: no-repeat;
}
.yo{

height: 50vh;

}
/* From Uiverse.io by david-mohseni */ 
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 80px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

